.classpath
.project
.idea/
.settings/
ajcore*
database.properties
email.properties
log.properties
passphrase.properties
payment.properties
script/database/xml
target/
*~
*.bak
*.ibak
*.iml
*.lck
*.log
*.old
*.plk
*.tlog
*.tmp
*.zzz
